

/* Tiles */

	body.is-preload .tiles article {
		-moz-transform: none;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
		opacity: 1;
	}
	#slider {
		opacity:1;
		transition: opacity 1s; 
	}
	
	#slider.fadeOut {
		opacity:0;
	}