
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 使用flex佈局，讓內容垂直和水平居中 */

section {
    /* 相對定位 */
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* linear-gradient() 函式用於建立一個表示兩種或多種顏色線性漸變的圖片 */
    background: #FFF0F5 ;
    background-image: url(../images/b1.jpg);
    background-size: cover;
}

/* 背景顏色 */

 

/* 登入框樣式 */

.container {
    position: relative;
    width: 400px;
    min-height: 400px;
    background: rgba(14, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
  
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.form {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 50px;
}

/* 登入標題樣式 */

.form h2 {
    position: relative;
    color: rgb(14, 13, 13);
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 5px;
    margin-bottom: 30px;
    cursor: pointer;
	text-align:center
}
.form p{
    font-weight: bold;
    font-size:larger;
    text-align:center
}

/* 登入標題的下劃線樣式 */

.form h2::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 0px;
    height: 3px;

    transition: 0.5s;
}

.form h2:hover:before {
    width: 53px;
}

.form .inputBox {
    width: 100%;
    margin-top: 20px;
	
}

/* 輸入框樣式 */

.form .inputBox input {
    width: 100%;
    padding: 10px 20px;
	BACKGROUND-COLOR: transparent;
    outline: none;
    border: none;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    letter-spacing: 1px;
	color: rgb(52, 47, 47);

}

.form .inputBox input::placeholder {
	
    color: rgb(16, 2, 2);
}

/* 登入按鈕樣式 */

.form .inputBox input[type="submit"] {
    background: rgba(255, 255, 255, 0.406);
    color: rgb(0, 0, 0);
    max-width: 100px;
    margin-bottom: 20px;
    font-weight: 600;
    cursor: pointer;

}

.forget {
    margin-top: 6px;
    color: rgb(29, 25, 34);
    letter-spacing: 1px;
	text-align:center
}

.forget a {
    color:rgb(29, 25, 34);
    font-weight: 600;
    text-decoration: none;
	text-align:center
}