{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE HTML>
<html>
	<head>
		<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FFCGET6HE8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-FFCGET6HE8');
</script>
		<title>個人空間-草稿文章(修改中)</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/main.css" />
	</head>
	<body class="single is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				<header id="header">
					<h1><a href="{{url_for('index')}}">淡水旅行手札</a></h1>
					<nav class="links">
						<ul>
							<li><a href="{{url_for('user')}}">個人空間</a></li>
							<li><a href="{{url_for('userpost')}}">已發布文章</a></li>
							<li><a href="{{url_for('userrough')}}">草稿文章</a></li>

							
					</nav>
					<nav class="main">
						<ul>
							<li class="search">
								<a class="fa-search" href="#search">Search</a>
								<form id="search" method="post" action="{{url_for('search')}}">
									<input type="text" name="content" placeholder="查找文章" />
								</form>
							</li>
							<li class="menu">
								<a class="fa-bars" href="#menu">Menu</a>
							</li>
						</ul>
					</nav>
				</header>
				<!-- Menu -->
					<section id="menu">

						<!-- Search -->
						<section>
							<form class="search" method="post" action="{{url_for('search')}}">
								<input type="text" name="content" placeholder="查找文章" />
							</form>
						</section>

						<!-- Links -->
						<section>
							<ul class="links">
								<li>
									<a href="{{url_for('user')}}">
										<h3>個人空間</h3>
										<p>我的空間</p>
									</a>
								</li>
								<li>
									<a href="{{url_for('userpost')}}">
										<h3>已發布文章</h3>
										<p>您所寫過的所有貼文或文章</p>
									</a>
								</li>
								<li>
									<a href="{{url_for('userrough')}}">
										<h3>草稿文章</h3>
										<p>尚未發布的文章</p>
									</a>
								</li>

								
							</ul>
						</section>


						<!-- Actions -->
							<section>
								<ul class="actions stacked">
									<li><a href="#" class="button large fit">Log In</a></li>
								</ul>
							</section>

					</section>

				<!-- Main -->
					<div id="main">
						<article class="post" methods="POST">
							{{ wtf.quick_form(form) }}					
					</div>

				<!-- Footer -->
				<section id="footer">
					<ul class="icons">
						<li><a href="https://www.facebook.com/tamsuiproject" target="_blank" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="https://www.instagram.com/tamsuiproject/"  target="_blank"class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
						
					</ul>
					
					<p >專題於2022年製作</p>
				</section>

			</div>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>
			
	</body>
</html>