{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE HTML>


<html>
	<head>
		<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FFCGET6HE8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-FFCGET6HE8');
</script>
		<title>淡水旅行手札-P Cafe</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/main.css" />
		<link rel="stylesheet" href="/lib/w3.css">
		<style>
			html {
					scroll-behavior: smooth;
			}
		</style>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">

						<!-- Post -->
						<article class="post">
							<header>
								<div class="title">
									<h2>P Cafe</h2>
									<h3>老宅X精品咖啡</h3>
								</div>
							
							</header>
							<span class="image main" style="padding:5px 5px; width: calc(100%);">
								<div class="w3-content" style="max-width:800px">
									<img class="mySlides" src="static/images/P Cafe1.jpg" style="width:100%">
									<img class="mySlides" src="static/images/P Cafe2.jpg" style="width:100%">
									 
								</div>		
								  <div class="w3-center" style="margin-top: 20px;">
									<center>
									<button class="w3-btn demo" onclick="currentDiv(1)">1</button> 
									<button class="w3-btn demo" onclick="currentDiv(2)">2</button> 
 
									</center>
								  </div>
							</span>								<span >
								<p>P Cafe 位在淡水老街一處，地點在二樓，如果要去的話眼睛可能要四處張望一下。一樓店家外面會擺放告示牌，告至遊客P Cafe 要從哪個路口上樓。

								</p>
								<p>這間咖啡廳沒有河岸邊的那樣風景，但是室內裝潢的工業風，和特調的飲品應該能夠吸引人駐足，工業風格拍照很有氛圍，平時的客人也不少，格局上算是一般的老公寓形式，給人一種懷舊的感覺。

								</p>
								<p>這間雖是咖啡店，但是提供了不少餐點，低消為一飲品，這裡環境舒適，飲品美食都很不錯，很適合在這裡待上很久時間。

								</p>
								<p>營業時間：
									11:00-~21:00(週一休） 
									</p>
							</span>
							<div class="iframe-rwd">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3610.9847970512224!2d121.43810241484485!3d25.16999118390891!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a55983e9a56f%3A0x5a9b0f53932ec8f6!2zUCBDYWbDqSDnvo7po5_ppJDlu7Mv5reh5rC05ZKW5ZWh5buzL-a3oeawtOWNiOmkkOmkkOW7sy_mt6HmsLTmmZrppJDppJDlu7Mv5reh5rC06ICB6KGX576O6aOf5LiL5Y2I6Iy2L-a3oeawtOeyvuWTgeWSluWVoQ!5e0!3m2!1szh-TW!2stw!4v1658045176888!5m2!1szh-TW!2stw" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
							</div><footer>

								
								<ul class="actions">
									<br>
								</ul>
							
								<ul class="stats">
									<li><a href="#">景點</a></li>
									
									
								</ul>
							</footer>
						</article>
						<article class="post">
							<header>
								<div class="title">
									<h2>留言區</h2>
									<h3>說說你的想法</h3>
								</div>
							
							</header>
							<form method="post" >
								{{ wtf.quick_form(form) }}
							</form>
							
							
						</article>

						<article class="post">
							<header>
								<div class="title">
									<center>
										<h2>留言版</h2>
									</center>
								</div>
							
							</header>
						{% for item in messages%}
						<p>
							{{  item.name }}<br>
							{{  item.body }}<br>
							{{  item.timestamp }}<br></p>
							<hr>
						{% endfor %}
						{% with messages = get_flashed_messages() %}
						{% if messages %}
						<ul class="flash">
							{% for message in messages %}
								<li>{{ message }}</li>
								
							{% endfor %}
						</ul>
						{% endif %}
						{% endwith %}
						</article>
					</div>

				<!-- Sidebar -->
					<section id="sidebar">

						<!-- Intro -->
							<section id="intro">
								
								<header>
									<h2><a href="{{ url_for('index') }}" >淡水旅行手札</a></h2>
								
								</header>
							</section>

						<!-- Mini Posts -->
						<section>
							<div class="mini-posts">
								<h2>附近景點</h2>
								<!-- Mini Post -->
									<article class="mini-post">
										<header>
											<h3><a href="{{ url_for('spot2_10') }}">淡水福佑宮&淡水彩繪階梯3D意象</a></h3>
											<p>距離52公尺</p>
											
										</header>
										<a href="{{ url_for('spot2_10') }}" class="image"><img src="static/images/淡水福佑宮_淡水彩繪階梯3D意象1.jpg" alt="" /></a>
									</article>

									<article class="mini-post">
										<header>
											<h3><a href="{{ url_for('spot4_3') }}">紅色穀倉</a></h3>
											<p>距離92公尺</p>
											
										</header>
										<a href="{{ url_for('spot4_3') }}" class="image"><img src="static/images/紅色穀倉1.jpg" alt="" /></a>
									</article>

									<article class="mini-post">
										<header>
											<h3><a href="{{ url_for('spot2_3') }}">日本警官宿舍</a></h3>
											<p>距離98公尺</p>
											
										</header>
										<a href="{{ url_for('spot2_3') }}" class="image"><img src="static/images/日本警官宿舍01.jpg" alt="" /></a>
									</article>

									<article class="mini-post">
										<header>
											<h3><a href="{{ url_for('spot5_8') }}">源味本鋪古早味現烤蛋糕</a></h3>
											<p>距離140公尺</p>
											
										</header>
										<a href="{{ url_for('spot5_8') }}" class="image"><img src="static/images/源味本舖古早味現烤蛋糕.jpg" alt="" /></a>
									</article>
									
									<article class="mini-post">
										<header>
											<h3><a href="{{ url_for('spot2_16') }}">淡水龍山寺</a></h3>
											<p>距離177公尺</p>
											
										</header>
										<a href="{{ url_for('spot2_16') }}" class="image"><img src="static/images/淡水龍山寺5.jpg" alt="" /></a>
									</article>
								
							</div>
						</section>
						
						<!-- Footer -->
							<section id="footer">
								<ul class="icons">
									<li><a href="https://www.facebook.com/tamsuiproject" target="_blank" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="https://www.instagram.com/tamsuiproject/"  target="_blank" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
									<a href="#top" class=" button large " id="BackTop">最上面</a>
								</ul>
								
								<p >專題於2022年製作</p>
							</section>

					</section>

			</div>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>
			<script>
				var imgArray = [
				'https://drive.google.com/uc?export=view&id=1GuguCMWv-TfeglKHxdVTmDYo_6G3yfZv',

			],
				curIndex = 0;
				imgDuration = 3000;
			
			function slideShow() {
				document.getElementById('slider').className += "fadeOut";
				setTimeout(function() {
					document.getElementById('slider').src = imgArray[curIndex];
					document.getElementById('slider').className = "";
				},1000);
				curIndex++;
				if (curIndex == imgArray.length) { curIndex = 0; }
				setTimeout(slideShow, imgDuration);
			}
			slideShow();
		</script>
		 <script>
            $(function(){
                $('#BackTop').click(function(){ 
                    $('html,body').animate({scrollTop:0}, 333);
                });
                $(window).scroll(function() {
                    if ( $(this).scrollTop() > 300 ){
                        $('#BackTop').fadeIn(222);
                    } else {
                        $('#BackTop').stop().fadeOut(222);
                    }
                }).scroll();
            });
        </script>
		
<script>
	var slideIndex = 1;
	showDivs(slideIndex);
	
	function plusDivs(n) {
	  showDivs(slideIndex += n);
	}
	
	function currentDiv(n) {
	  showDivs(slideIndex = n);
	}
	
	function showDivs(n) {
	  var i;
	  var x = document.getElementsByClassName("mySlides");
	  var dots = document.getElementsByClassName("demo");
	  if (n > x.length) {slideIndex = 1}    
	  if (n < 1) {slideIndex = x.length} ;
	  for (i = 0; i < x.length; i++) {
		 x[i].style.display = "none";  
	  }
	  for (i = 0; i < dots.length; i++) {
		 dots[i].className = dots[i].className.replace(" w3-red", "");
	  }
	  x[slideIndex-1].style.display = "block";  
	  dots[slideIndex-1].className += " w3-red";
		}
	</script>
	</body>
</html>