<!DOCTYPE HTML>

<html>
	<head>
		<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FFCGET6HE8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-FFCGET6HE8');
</script>
		<title>淡水旅行手札-休閒景點</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/main-1.css" />
		<noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<button type="button" id="BackTop" class="toTop-arrow"></button>
		<div class="nav">
			<input type="checkbox" id="nav-check">
			<div class="nav-header">
			  <div class="nav-title">
				<a href="{{ url_for('index') }}" style="color:rgb(255, 255, 255) ;">
				淡水旅行手札
				</a>
			  </div>
			</div>
			<div class="nav-btn">
			  <label for="nav-check">
				<span></span>
				<span></span>
				<span></span>
			  </label>
			</div>
			
			<div class="nav-links" style="z-index: 1000;">
			  <a href="{{ url_for('index') }}"  >首頁</a>
			  <a href="{{ url_for('spot') }}"  >景點</a>
			  <a href="{{ url_for('spot') }}"  >美食</a>
			 
			</div>
		  </div>
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							 
								
						</div>
					</header>

			
				<!-- Main -->
				<div id="main">
					<div class="inner">
						<header>
							<h1>休閒景點清單</h1>
							<p>適合喜歡慢生活的你</p>
						</header>
						<section class="tiles">
							<article class="style1">
								<span class="image">
									<img src="static/images/木下靜涯舊居1.jpg" alt="" />
								</span> 
								<a href="{{ url_for('spot1_1') }}">
									<h2>木下靜涯舊居</h2>
									<div class="content">
										<p>淡水的世外莊</p>
									</div>
								</a>
							</article>
							<article class="style2">
								<span class="image">
									<img src="static/images/齊柏林空間.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot1_2') }}">
									<h2>齊柏林空間</h2>
									<div class="content">
										<p>齊柏林的視野</p>
									</div>
								</a>
							</article>
							<article class="style3">
								<span class="image">
									<img src="static/images/紅樹林自然保留區.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot1_3') }}">
									<h2>紅樹林自然保留區/紅樹林步道</h2>
									<div class="content">
										<p>紅樹林生態的奧妙</p>
									</div>
								</a>
							</article>
							<article class="style4">
								<span class="image">
									<img src="static/images/天元宮01.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot1_4') }}">
									<h2>淡水無極天元宮</h2>
									<div class="content">
										<p>宮廟及櫻花</p>
									</div>
								</a>
							</article>
							<article class="style5">
								<span class="image">
									<img src="static/images/滬尾藝文休閒園區.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot1_5') }}">
									<h2>滬尾藝文休閒園區</h2>
									<div class="content">
										<p>藏身淡水的綠色秘境</p>
									</div>
								</a>
							</article>
							<article class="style6">
								<span class="image">
									<img src="static/images/淡水和平公園 .jpg" alt="" />
								</span>
								<a href="{{ url_for('spot1_6') }}">
									<h2>淡水和平公園</h2>
									<div class="content">
										<p>別具意義的紀念公園</p>
									</div>
								</a>
							</article>
							<article class="style2">
								<span class="image">
									<img src="static/images/雲門舞集-雲門劇場1.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot1_7') }}">
									<h2>雲門舞集-雲門劇場 </h2>
									<div class="content">
										<p>充滿意境的劇場</p>
									</div>
								</a>
							</article>
							<article class="style3">
								<span class="image">
									<img src="static/images/女友的扭蛋01.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot1_8') }}">
									<h2>女友の扭蛋 扭蛋專賣店  </h2>
									<div class="content">
										<p>少女心天堂</p>
									</div>
								</a>
							</article>
							<article class="style1">
								<span class="image">
									<img src="static/images/淡水海關碼頭 3.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot1_9') }}">
									<h2>淡水海關碼頭 </h2>
									<div class="content">
										<p>展覽+河畔音樂會</p>
									</div>
								</a>
							</article>
							<article class="style5">
								<span class="image">
									<img src="static/images/漁人碼頭_情人橋_情人塔1.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot1_10') }}">
									<h2>漁人碼頭&情人橋&情人塔 </h2>
									<div class="content">
										<p>休閒好去處</p>
									</div>
								</a>
							</article>
							<article class="style6">
								<span class="image">
									<img src="static/images/沙崙海灘 2.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot1_11') }}">
									<h2>沙崙海灘</h2>
									<div class="content">
										<p>一同散步欣賞夕落</p>
									</div>
								</a>
							</article>
							<article class="style4">
								<span class="image">
									<img src="static/images/小時候彈珠堂.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot1_12') }}">
									<h2>小時候彈珠堂</h2>
									<div class="content">
										<p>兒時回憶</p>
									</div>
								</a>
							</article>
							 
							<article class="style2">
								<span class="image">
									<img src="static/images/水管公園1.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot1_14') }}">
									<h2>水管公園</h2>
									<div class="content">
										<p>淡水看落日最佳景點之一</p>
									</div>
								</a>
							</article>
							<article class="style3">
								<span class="image"> 
									<img src="static/images/小美術館ArtBox.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot1_15') }}">
									<h2>小美術館 ArtBox</h2>
									<div class="content">
										<p>藝術寶盒</p>
									</div>
								</a>
							</article>
							<article class="style4">
								<span class="image">
									<img src="static/images/滬尾櫻花大道03.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot1_16') }}">
									<h2>滬尾櫻花大道</h2>
									<div class="content">
										<p>世界最長櫻花大道</p>
									</div>
								</a>
							</article>
							<article class="style5">
								<span class="image">
									<img src="static/images/美麗新廣場.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot1_17') }}">
									<h2>美麗新廣場MIRANEW SQUARE</h2>
									<div class="content">
										<p>新市鎮大商場</p>
									</div>
								</a>
							</article>
							<article class="style6">
								<span class="image"> 
									<img src="static/images/稼日時光.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot1_18') }}">
									<h2>稼日蒔光</h2>
									<div class="content">
										<p>拍照聖地</p>
									</div>
								</a>
							</article>
						</section>
					</div>
				</div>


				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							
							<section>
								<h2>聯絡我們</h2>
								<ul class="icons">
									 
									<li><a href="https://www.facebook.com/tamsuiproject" target="_blank" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="https://www.instagram.com/tamsuiproject/"  target="_blank" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
									
								</ul>
							</section>
							<section>
								<p>專題於2022年製作</p>
								 
							</section>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>
			<script>
				$(function(){
					$('#BackTop').click(function(){ 
						$('html,body').animate({scrollTop:0}, 333);
					});
					$(window).scroll(function() {
						if ( $(this).scrollTop() > 300 ){
							$('#BackTop').fadeIn(222);
						} else {
							$('#BackTop').stop().fadeOut(222);
						}
					}).scroll();
				});
			</script>
	</body>
</html>