<!DOCTYPE HTML>

<html>
	<head>
		<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FFCGET6HE8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-FFCGET6HE8');
</script>
		<title>淡水旅行手札-古蹟景點</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/main-1.css" />
		<noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<button type="button" id="BackTop" class="toTop-arrow"></button>
		<div class="nav">
			<input type="checkbox" id="nav-check">
			<div class="nav-header">
			  <div class="nav-title">
				<a href="{{ url_for('index') }}" style="color:rgb(255, 255, 255) ;">
				淡水旅行手札
				</a>
			  </div>
			</div>
			<div class="nav-btn">
			  <label for="nav-check">
				<span></span>
				<span></span>
				<span></span>
			  </label>
			</div>
			
			<div class="nav-links" style="z-index: 1000;">
			  <a href="{{ url_for('index') }}"  >首頁</a>
			  <a href="{{ url_for('spot') }}"  >景點</a>
			  <a href="{{ url_for('spot') }}"  >美食</a>
			 
			</div>
		  </div>
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">
 
						</div>
					</header>

			
				<!-- Main -->
				<div id="main">
					<div class="inner">
						<header>
							<h1>古蹟景點清單</h1>
							<p>適合喜歡探索過去留下的足跡的你</p>
						</header>
						<section class="tiles">
							<article class="style1">
								<span class="image">
									<img src="static/images/程氏古厝2.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot2_1') }}">
									<h2>程氏古厝</h2>
									<div class="content">
										<p>漫遊清法戰爭遺跡</p>
									</div>
								</a>
							</article>
							<article class="style2">
								<span class="image">
									<img src="static/images/殼牌倉庫4.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot2_2') }}">
									<h2>殼牌倉庫</h2>
									<div class="content">
										<p>原英商嘉士洋行倉庫</p>
									</div>
								</a>
							</article>
							<article class="style3">
								<span class="image"> 
									<img src="static/images/日本警官宿舍01.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot2_3') }}">
									<h2>日本警官宿舍 </h2>
									<div class="content">
										<p>唯美日式老宅</p>
									</div>
								</a>
							</article>
							<article class="style4">
								<span class="image">
									<img src="static/images/多田榮吉故居.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot2_4') }}">
									<h2>多田榮吉故居 </h2>
									<div class="content">
										<p>京都木屋，私房秘境</p>
									</div>
								</a>
							</article>
							<article class="style5">
								<span class="image">
									<img src="static/images/前清淡水關稅務司官邸滬尾砲台公園(小白宮)2.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot2_5') }}">
									<h2>前清淡水關稅務司官邸(小白宮) </h2>
									<div class="content">
										<p>淡雅的白色拱門</p>
									</div>
								</a>
							</article>
							<article class="style6">
								<span class="image">
									<img src="static/images/滬尾砲台公園4.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot2_6') }}">
									<h2>滬尾砲台 </h2>
									<div class="content">
										<p>清法戰爭後清朝最大的防禦工事</p>
									</div>
								</a>
							</article>
							<article class="style2">
								<span class="image">
									<img src="static/images/淡水紅毛城_園區_英國領事館3.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot2_7') }}">
									<h2>淡水紅毛城&園區&英國領事館</h2>
									<div class="content">
										<p>看盡淡水滄桑歷史</p>
									</div>
								</a>
							</article>
							<article class="style3">
								<span class="image">
									<img src="static/images/淡水紅毛城_園區_英國領事館3.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot2_8') }}">
									<h2>一滴水紀念館 </h2>
									<div class="content">
										<p>日式禪風庭院</p>
									</div>
								</a>
							</article>
							<article class="style1">
								<span class="image">
									<img src="static/images/淡水老街.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot2_9') }}">
									<h2>淡水老街</h2>
									<div class="content">
										<p>感受時空交錯烙印下的美好</p>
									</div>
								</a>
							</article>
							<article class="style5">
								<span class="image">
									<img src="static/images/淡水福佑宮_淡水彩繪階梯3D意象1.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot2_10') }}">
									<h2>淡水福佑宮&淡水彩繪階梯3D意象</h2>
									<div class="content">
										<p>淡水媽祖宮保佑你</p>
									</div>
								</a>
							</article>
							<article class="style6">
								<span class="image">
									<img src="static/images/滬尾偕醫館.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot2_11') }}">
									<h2>滬尾偕醫館</h2>
									<div class="content">
										<p>馬偕紀念醫院發源地</p>
									</div>
								</a>
							</article>
							<article class="style4">
								<span class="image">
									<img src="static/images/淡水禮拜堂3.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot2_12') }}">
									<h2>淡水禮拜堂</h2>
									<div class="content">
										<p>帶有濃濃的懷舊風，百年古鐘與古風琴</p>
									</div>
								</a>
							</article>
							<article class="style1">
								<span class="image">
									<img src="static/images/得忌利士洋行3.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot2_13') }}">
									<h2>得忌利士洋行</h2>
									<div class="content">
										<p>老洋行，新淡水</p>
									</div>
								</a>
							</article>
							<article class="style2">
								<span class="image">
									<img src="static/images/blank.png" alt="" />
									
								</span> 
								<a href="{{ url_for('spot2_14') }}">
									<h2>理學堂大書院</h2>
									<div class="content">
										<p>牛津學堂</p>
									</div>
								</a>
							</article>
							<article class="style3">
								<span class="image"> 
									<img src="static/images/鄞山寺汀州會館02.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot2_15') }}">
									<h2>鄞山寺（汀州會館）</h2>
									<div class="content">
										<p>汀洲人的同鄉會館</p>
									</div>
								</a>
							</article>
							<article class="style4">
								<span class="image">
									<img src="static/images/淡水龍山寺5.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot2_16') }}">
									<h2>淡水龍山寺</h2>
									<div class="content">
										<p>古廟悠揚滬尾街</p>
									</div>
								</a>
							</article>
							<article class="style5">
								<span class="image">
									<img src="static/images/公司田溪橋遺跡01.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot2_17') }}">
									<h2>公司田溪橋遺跡</h2>
									<div class="content">
										<p>新北市市定古蹟</p>
									</div>
								</a>
							</article>
						</section>
					</div>
				</div>


				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							
							<section>
								<h2>聯絡我們</h2>
								<ul class="icons">
									<li><a href="https://www.facebook.com/tamsuiproject" target="_blank" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="https://www.instagram.com/tamsuiproject/"  target="_blank" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
								
								</ul>
							</section>
							<section>
								<p>專題於2022年製作</p>
								 
							</section>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>
			<script>
				$(function(){
					$('#BackTop').click(function(){ 
						$('html,body').animate({scrollTop:0}, 333);
					});
					$(window).scroll(function() {
						if ( $(this).scrollTop() > 300 ){
							$('#BackTop').fadeIn(222);
						} else {
							$('#BackTop').stop().fadeOut(222);
						}
					}).scroll();
				});
			</script>
	</body>
</html>