<!DOCTYPE HTML>

<html>
	<head>
		<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FFCGET6HE8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-FFCGET6HE8');
</script>
		<title>淡水旅行手札-咖啡廳</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/main-1.css" />
		<noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<button type="button" id="BackTop" class="toTop-arrow"></button>
		<div class="nav">
			<input type="checkbox" id="nav-check">
			<div class="nav-header">
			  <div class="nav-title">
				<a href="{{ url_for('index') }}" style="color:rgb(255, 255, 255) ;">
				淡水旅行手札
				</a>
			  </div>
			</div>
			<div class="nav-btn">
			  <label for="nav-check">
				<span></span>
				<span></span>
				<span></span>
			  </label>
			</div>
			
			<div class="nav-links" style="z-index: 1000;">
			  <a href="{{ url_for('index') }}"  >首頁</a>
			  <a href="{{ url_for('spot') }}"  >景點</a>
			  <a href="{{ url_for('spot') }}"  >美食</a>
			 
			</div>
		  </div>
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">
 
						</div>
					</header>

			
				<!-- Main -->
				<div id="main">
					<div class="inner">
						<header>
							<h1>咖啡廳清單</h1>
							<p>一起享受休閒下午的時光吧</p>
						</header>
						<section class="tiles">
							<article class="style1">
								<span class="image">
									<img src="static/images/Uncle Duncan02.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot3_1') }}">
									<h2>Uncle Duncan</h2>
									<div class="content">
										<p>一周只營業10小時的秘境景觀餐廳</p>
									</div>
								</a>
							</article>
							<article class="style2">
								<span class="image">
									<img src="static/images/福容大飯店咖啡廳.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot3_2') }}">
									<h2>福容大飯店咖啡廳</h2>
									<div class="content">
										<p>田園咖啡廳</p>
									</div>
								</a>
							</article>
							<article class="style3">
								<span class="image">
									<img src="static/images/Binma Area 134 3.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot3_3') }}">
									<h2>Binma Area 134</h2>
									<div class="content">
										<p>藏身山區的絕美秘境</p>
									</div>
								</a>
							</article>
							<article class="style4">
								<span class="image">
									<img src="static/images/紅樓咖啡館Rc1899 Café1.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot3_4') }}">
									<h2>紅樓咖啡館Rc1899 Café</h2>
									<div class="content">
										<p>紅磚老宅風格咖啡廳</p>
									</div>
								</a>
							</article>
							<article class="style5">
								<span class="image">
									<img src="static/images/Ancre café安克黑咖啡2.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot3_5') }}">
									<h2>Ancre café安克黑咖啡</h2>
									<div class="content">
										<p>淡水河畔邊咖啡廳</p>
									</div>
								</a>
							</article>
							<article class="style6">
								<span class="image">
									<img src="static/images/領事館咖啡.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot3_6') }}">
									<h2>領事館咖啡</h2>
									<div class="content">
										<p>淡水老街歐式景觀咖啡廳</p>
									</div>
								</a>
							</article>
							<article class="style2">
								<span class="image">
									<img src="static/images/淡水長堤咖啡館3.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot3_7') }}">
									<h2>淡水長堤咖啡館</h2>
									<div class="content">
										<p>河景第一排賞日落</p>
									</div>
								</a>
							</article>
							<article class="style3">
								<span class="image">
									<img src="static/images/淡水雲門星巴克.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot3_8') }}">
									<h2>淡水雲門星巴克</h2>
									<div class="content">
										<p>森林系星巴克</p>
									</div>
								</a>
							</article>
							<article class="style1"> 
								<span class="image">
									<img src="static/images/沒有特別計畫01.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot3_9') }}">
									<h2>沒有特別計畫café</h2>
									<div class="content">
										<p>淡水隱藏版甜點店</p>
									</div>
								</a>
							</article>
							<article class="style5">
								<span class="image"> 
									<img src="static/images/閒恬02.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot3_10') }}">
									<h2>閑恬Mydeli手作美味坊</h2>
									<div class="content">
										<p>荷蘭生活美學的巷弄甜點店</p>
									</div>
								</a>
							</article>
							<article class="style6">
								<span class="image"> 
									<img src="static/images/石牆仔內04.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot3_11') }}">
									<h2>石牆仔內咖啡館</h2>
									<div class="content">
										<p>百年古厝的玻璃木屋</p>
									</div>
								</a>
							</article>
							<article class="style4">
								<span class="image"> 
									<img src="static/images/嗜甜01.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot3_12') }}">
									<h2>嗜甜</h2>
									<div class="content">
										<p>簡單美好的甜點店</p>
									</div>
								</a>
							</article>
							<article class="style1">
								<span class="image">
									<img src="static/images/天使熱愛的生活01.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot3_13') }}">
									<h2>天使熱愛的生活</h2>
									<div class="content">
										<p>吹海風，看夕陽</p>
									</div>
								</a>
							</article>
							<article class="style2">
								<span class="image">
									<img src="static/images/媽媽嘴咖啡(淡水樂活店) 2.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot3_14') }}">
									<h2>媽媽嘴咖啡(淡水樂活店)</h2>
									<div class="content">
										<p>看風景好去處</p>
									</div>
								</a>
							</article>
							<article class="style3">
								<span class="image">
									<img src="static/images/紅毛城旁邊咖啡廳.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot3_15') }}">
									<h2>紅毛城旁邊咖啡廳</h2>
									<div class="content">
										<p>南法鄉村感的咖啡廳</p>
									</div>
								</a>
							</article>
							<article class="style4">
								<span class="image">
									<img src="static/images/英國奶奶Britshake淡水1.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot3_16') }}">
									<h2>英國奶奶Britshake淡水</h2>
									<div class="content">
										<p>道地的英式料理餐廳</p>
									</div>
								</a>
							</article>
							<article class="style5">
								<span class="image">
									<img src="static/images/P Cafe1.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot3_17') }}">
									<h2>P Cafe</h2>
									<div class="content">
										<p>老宅X精品咖啡</p>
									</div>
								</a>
							</article>
							<article class="style6">
								<span class="image">
									<img src="static/images/Handshop 撼動屋(英專店)3.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot3_18') }}">
									<h2>Handshop 撼動屋(英專店)</h2>
									<div class="content">
										<p>小清新甜點店</p>
									</div>
								</a>
							</article>
							
						
						</section>
					</div>
				</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							
							<section>
								<h2>聯絡我們</h2>
								<ul class="icons">
									<li><a href="https://www.facebook.com/tamsuiproject" target="_blank" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="https://www.instagram.com/tamsuiproject/"  target="_blank" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
								
								</ul>
							</section>
							<section>
								<p>專題於2022年製作</p>
								 
							</section>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>
			<script>
				$(function(){
					$('#BackTop').click(function(){ 
						$('html,body').animate({scrollTop:0}, 333);
					});
					$(window).scroll(function() {
						if ( $(this).scrollTop() > 300 ){
							$('#BackTop').fadeIn(222);
						} else {
							$('#BackTop').stop().fadeOut(222);
						}
					}).scroll();
				});
			</script>
	</body>
</html>