<!DOCTYPE HTML>

<html>
	<head>
		<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FFCGET6HE8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-FFCGET6HE8');
</script>
		<title>淡水旅行手札-小吃</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/main-1.css" />
		<noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<button type="button" id="BackTop" class="toTop-arrow"></button>
		<div class="nav">
			<input type="checkbox" id="nav-check">
			<div class="nav-header">
			  <div class="nav-title">
				<a href="{{ url_for('index') }}" style="color:rgb(255, 255, 255) ;">
				淡水旅行手札
				</a>
			  </div>
			</div>
			<div class="nav-btn">
			  <label for="nav-check">
				<span></span>
				<span></span>
				<span></span>
			  </label>
			</div>
			
			<div class="nav-links" style="z-index: 1000;">
			  <a href="{{ url_for('index') }}" >首頁</a>
			  <a href="{{ url_for('spot') }}"  >景點</a>
			  <a href="{{ url_for('spot') }}"  >美食</a>
			 
			</div>
		  </div>
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">
 
								
						</div>
					</header>

			
				<!-- Main -->
				<div id="main">
					<div class="inner">
						<header>
							<h1>小吃清單</h1>
							<p>令人食指大動的美食</p>
						</header>
						<section class="tiles">
							<article class="style1">
								<span class="image">
									<img src="static/images/朝日夫婦1.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot5_1') }}">
									<h2>朝日夫婦</h2>
									<div class="content">
										<p>來一碗沖繩刨冰</p>
									</div>
								</a>
							</article>
							<article class="style2">
								<span class="image">
									<img src="static/images/浪花丸1.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot5_2') }}">
									<h2>浪花丸</h2>
									<div class="content">
										<p>邊吃冰邊欣賞夕照</p>
									</div>
								</a>
							</article>
							<article class="style3">
								<span class="image">
									<img src="static/images/新建成餅店.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot5_3') }}">
									<h2>新建成餅店</h2>
									<div class="content">
										<p>芝麻蛋黃大餅</p>
									</div>
								</a>
							</article>
							<article class="style4">
								<span class="image">
									<img src="static/images/倆樂01.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot5_4') }}">
									<h2>倆樂 LiAng Le</h2>
									<div class="content">
										<p>花生捲冰淇淋</p>
									</div>
								</a>
							</article>
							<article class="style5">
								<span class="image">
									<img src="static/images/賴記雞蛋糕.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot5_5') }}">
									<h2>賴記雞蛋糕 </h2>
									<div class="content">
										<p>古早味銅板美食</p>
									</div>
								</a>
							</article>
							<article class="style6">
								<span class="image">
									<img src="static/images/大吉祥豆富01.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot5_6') }}">
									<h2>大吉祥香豆富</h2>
									<div class="content">
										<p>必吃麻辣鴨血臭豆腐</p>
									</div>
								</a>
							</article>
							<article class="style2">
								<span class="image">
									<img src="static/images/胖達關東煮01.jpg" alt="" />
								</span> 
								<a href="{{ url_for('spot5_7') }}">
									<h2>胖達關東煮 </h2>
									<div class="content">
										<p>給妳幸福溫情的一餐</p>
									</div>
								</a>
							</article>
							<article class="style3">
								<span class="image">
									<img src="static/images/源味本舖古早味現烤蛋糕.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot5_8') }}">
									<h2>源味本鋪古早味現烤蛋糕 </h2>
									<div class="content">
										<p>手工古早味蛋糕</p>
									</div>
								</a>
							</article>
							<article class="style1">
								<span class="image">
									<img src="static/images/淡水滬尾豆花店.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot5_9') }}">
									<h2>淡水滬尾豆花店</h2>
									<div class="content">
										<p>在地人最愛吃的三色豆花</p>
									</div>
								</a>
							</article>
							<article class="style5">
								<span class="image"> 
									<img src="static/images/麻吉奶奶鮮奶麻糬.jpg" alt="" />
								</span>
								<a href="{{ url_for('spot5_10') }}">
									<h2>麻吉奶奶鮮奶麻糬</h2>
									<div class="content">
										<p>手工鮮奶麻糬</p>
									</div>
								</a>
							</article>
						
						
						</section>
					</div>
				</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							
							<section>
								<h2>聯絡我們</h2>
								<ul class="icons">
									<li><a href="https://www.facebook.com/tamsuiproject" target="_blank" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="https://www.instagram.com/tamsuiproject/"  target="_blank" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
								
								</ul>
							</section>
							<section>
								<p>專題於2022年製作</p>
								 
							</section>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>
			<script>
				$(function(){
					$('#BackTop').click(function(){ 
						$('html,body').animate({scrollTop:0}, 333);
					});
					$(window).scroll(function() {
						if ( $(this).scrollTop() > 300 ){
							$('#BackTop').fadeIn(222);
						} else {
							$('#BackTop').stop().fadeOut(222);
						}
					}).scroll();
				});
			</script>
	</body>
</html>