{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE HTML>

<html>
	<head>
		<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FFCGET6HE8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-FFCGET6HE8');
</script>
		<title>淡水旅行手札-淡水龍山寺</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/main.css" />
		<link rel="stylesheet" href="/lib/w3.css">
		<style>
			html {
					scroll-behavior: smooth;
			}
		</style>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">

						<!-- Post -->
						<article class="post">
							<header>
								<div class="title">
									<h2>淡水龍山寺</h2>
									<h3>古廟悠揚滬尾街</h3>
								</div>
							
							</header>

							<span class="image main" style="padding:5px 5px; width: calc(100%);">
								<div class="w3-content" style="max-width:800px">
									<img class="mySlides" src="static/images/淡水龍山寺1.jpg" style="width:100%">
									<img class="mySlides" src="static/images/淡水龍山寺5.jpg" style="width:100%">
									<img class="mySlides" src="static/images/淡水龍山寺4.jpg" style="width:100%">
									 
								</div>
								<div class="w3-center" style="margin-top: 20px;">
									<center>
									<button class="w3-btn demo" onclick="currentDiv(1)">1</button> 
									<button class="w3-btn demo" onclick="currentDiv(2)">2</button> 
									<button class="w3-btn demo" onclick="currentDiv(3)">3</button> 
									 
									</center>
								  </div>
							</span>								<span >
								<p>淡水龍山寺，為臺灣新北市淡水區的廟宇，主祀觀世音菩薩，為國家三級古蹟，正殿供奉的觀音神像莊嚴，雕刻精美細緻，寺廟正面的建築皆以觀音石為建材。淡水龍山寺是淡水古寺中座落位置特別的廟宇，非當地人很難發現。龍山寺周遭被傳統市場、公寓及市場小攤所圍繞，因此很難看到整體外觀。早期其外觀環境優雅，前有廣場、後有花園，廟中建築雕刻精細雅緻；後因土地分割，及後續管理問題，導致龍山寺逐漸被住宅、市場等建築物所遮蔽，一路緊連相接，清水街猶如不見天日的「暗街仔」，雖然對當地環境衛生造成部分影響，但是這種「暗街仔」特殊街道景象在臺灣已不多見，而顯得更加珍貴。
								</p>
							</span>
							<div class="iframe-rwd">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3610.9832125757393!2d121.43984131484483!3d25.17004468390883!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a559b130af3d%3A0x51fd7d474788a686!2z5reh5rC06b6N5bGx5a-6!5e0!3m2!1szh-TW!2stw!4v1657958518449!5m2!1szh-TW!2stw" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
							</div><footer>

								
								<ul class="actions">
									<br>
								</ul>
							
								<ul class="stats">
									<li><a href="#">景點</a></li>
									
									
								</ul>
							</footer>
						</article>
						<article class="post">
							<header>
								<div class="title">
									<h2>留言區</h2>
									<h3>說說你的想法</h3>
								</div>
							
							</header>
							<form method="post" >
								{{ wtf.quick_form(form) }}
							</form>
							
							
						</article>

						<article class="post">
							<header>
								<div class="title">
									<center>
										<h2>留言版</h2>
									</center>
								</div>
							
							</header>
						{% for item in messages%}
						<p>
							{{  item.name }}<br>
							{{  item.body }}<br>
							{{  item.timestamp }}<br></p>
							<hr>
						{% endfor %}
						{% with messages = get_flashed_messages() %}
						{% if messages %}
						<ul class="flash">
							{% for message in messages %}
								<li>{{ message }}</li>
								
							{% endfor %}
						</ul>
						{% endif %}
						{% endwith %}
						</article>
					</div>

				<!-- Sidebar -->
					<section id="sidebar">

						<!-- Intro -->
							<section id="intro">
								
								<header>
									<h2><a href="{{ url_for('index') }}" >淡水旅行手札</a></h2>
								
								</header>
							</section>

						<!-- Mini Posts -->
						<section>
							<div class="mini-posts">
								<h2>附近景點</h2>
								<!-- Mini Post -->
									<article class="mini-post">
										<header>
											<h3><a href="{{ url_for('spot4_1') }}">魚見浜燒 </a></h3>
											<p>距離120公尺</p>
											
										</header>
										<a href="{{ url_for('spot4_1') }}" class="image"><img src="static/images/魚見浜燒2.jpg" alt="" /></a>
									</article>

									<article class="mini-post">
										<header>
											<h3><a href="{{ url_for('spot4_14') }}">Pallet Bistro•木棧板餐廳  </a></h3>
											<p>距離136公尺</p>
											
										</header>
										<a href="{{ url_for('spot4_14') }}" class="image"><img src="static/images/Pallet bistro木棧板餐廳01.jpg" alt="" /></a>
									</article>

									<article class="mini-post">
										<header>
											<h3><a href="{{ url_for('spot4_7') }}">黑殿飯店  </a></h3>
											<p>距離140公尺</p>
											
										</header>
										<a href="{{ url_for('spot4_7') }}" class="image"><img src="static/images/黑殿飯店2.jpg" alt="" /></a>
									</article>

									<article class="mini-post">
										<header>
											<h3><a href="{{ url_for('spot5_3') }}">新建成餅店  </a></h3>
											<p>距離154公尺</p>
											
										</header>
										<a href="{{ url_for('spot5_3') }}" class="image"><img src="static/images/新建成餅店.jpg" alt="" /></a>
									</article>
									
									<article class="mini-post">
										<header>
											<h3><a href="{{ url_for('spot3_17') }}">P Cafe</a></h3>
											<p>距離175公尺</p>
											
										</header>
										<a href="{{ url_for('spot3_17') }}" class="image"><img src="static/images/P Cafe1.jpg" alt="" /></a>
									</article>
								
							</div>
						</section>


						
						<!-- Footer -->
							<section id="footer">
								<ul class="icons">
									<li><a href="https://www.facebook.com/tamsuiproject" target="_blank" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="https://www.instagram.com/tamsuiproject/"  target="_blank" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
									<a href="#top" class=" button large " id="BackTop">最上面</a>
								</ul>
								
								<p >專題於2022年製作</p>
							</section>

					</section>

			</div>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>
			<script>
				var imgArray = [
				'https://drive.google.com/uc?export=view&id=1uEBleQbcAW3BYb5DDBmmYLSi1QVy8boD',
				'https://drive.google.com/uc?export=view&id=1mAJkahhCryvwq7cg_o0R87aekOioVUV4',
				'https://drive.google.com/uc?export=view&id=1fkf1fke7He1ezH3r7A2ixrGtytLmVM8t',

			],
				curIndex = 0;
				imgDuration = 3000;
			
			function slideShow() {
				document.getElementById('slider').className += "fadeOut";
				setTimeout(function() {
					document.getElementById('slider').src = imgArray[curIndex];
					document.getElementById('slider').className = "";
				},1000);
				curIndex++;
				if (curIndex == imgArray.length) { curIndex = 0; }
				setTimeout(slideShow, imgDuration);
			}
			slideShow();
		</script>
		 <script>
            $(function(){
                $('#BackTop').click(function(){ 
                    $('html,body').animate({scrollTop:0}, 333);
                });
                $(window).scroll(function() {
                    if ( $(this).scrollTop() > 300 ){
                        $('#BackTop').fadeIn(222);
                    } else {
                        $('#BackTop').stop().fadeOut(222);
                    }
                }).scroll();
            });
        </script>
		
<script>
	var slideIndex = 1;
	showDivs(slideIndex);
	
	function plusDivs(n) {
	  showDivs(slideIndex += n);
	}
	
	function currentDiv(n) {
	  showDivs(slideIndex = n);
	}
	
	function showDivs(n) {
	  var i;
	  var x = document.getElementsByClassName("mySlides");
	  var dots = document.getElementsByClassName("demo");
	  if (n > x.length) {slideIndex = 1}    
	  if (n < 1) {slideIndex = x.length} ;
	  for (i = 0; i < x.length; i++) {
		 x[i].style.display = "none";  
	  }
	  for (i = 0; i < dots.length; i++) {
		 dots[i].className = dots[i].className.replace(" w3-red", "");
	  }
	  x[slideIndex-1].style.display = "block";  
	  dots[slideIndex-1].className += " w3-red";
		}
	</script>
	</body>
</html>