{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE HTML>

<html>
	<head>
		<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FFCGET6HE8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-FFCGET6HE8');
</script>
		<title>淡水旅行手札-紅樹林自然保留區/紅樹林步道</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/main.css" />
		<link rel="stylesheet" href="/lib/w3.css">
		<style>
			html {
					scroll-behavior: smooth;
			}
		</style>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

			<!-- Main -->
					<div id="main">

						<!-- Post -->
						<article class="post">
							<header>
								<div class="title">
									<h2>紅樹林自然保留區/紅樹林步道</h2>
									<h3>紅樹林生態的奧妙</h3>
								</div>
							
							</header>
							<span class="image main" style="padding:5px 5px; width: calc(100%);">
								<div class="w3-content" style="max-width:800px">
									<img class="mySlides" src="static/images/紅樹林自然保留區.jpg" style="width:100%">
									<img class="mySlides" src="static/images/紅樹林自然保留區2.jpg" style="width:100%">
									<img class="mySlides" src="static/images/紅樹林自然步道03.jpg" style="width:100%">
								
								  </div>
								 
								  <div class="w3-center" style="margin-top: 20px;">
									<center>
									<button class="w3-btn demo" onclick="currentDiv(1)">1</button> 
									<button class="w3-btn demo" onclick="currentDiv(2)">2</button> 
									<button class="w3-btn demo" onclick="currentDiv(3)">3</button> 
									
									</center>
								  </div>
							</span>							<span >
								<p>位於淡水河出海口5公里處為紅樹林自然保留區，紅樹林自然保留區範圍十分廣闊，總面積佔有76.41公頃。廣義來說，紅樹林是指生長在熱帶及亞熱帶之常綠灌木或喬木樹林，紅樹林有些具有胎生、呼吸根、支撐根等特殊演化，因此有其一定作用，可維持河口濕地的豐富生態，還有防風、抗海潮侵蝕功能等等。淡水河紅樹林自然保留區是屬於典型的河口生態系，除了水筆仔還有許多專屬潮間帶的生育地的植物，紅樹林自然保留區是淡水河從上游夾帶泥沙所堆積而成的河岸泥灘地沼澤區，每天會受潮汐時間影響而有所變化，因此成為相當特殊的潮間帶區域，蘊蓄了許多生物在此棲息。
									大家想要一覽紅樹林生態的奧妙，可以前往紅樹林自然保留區的觀賞步道外，還可以前往紅樹林捷運站二樓的紅樹林生態教育館參觀，館內用圖片、多媒體的方式介紹水筆仔的胎生過程，讓民眾了解紅樹林生態的奧妙所在。
								</p>
							</span>
							<div class="iframe-rwd">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3611.3259984923666!2d121.45163963488768!3d25.158467999999985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442aff2b12870db%3A0x52f5b7baacd28f67!2z57SF5qi55p6X55Sf5oWL5q2l6YGT!5e0!3m2!1szh-TW!2stw!4v1657883849553!5m2!1szh-TW!2stw" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>						
							</div><footer>

								
								<ul class="actions">
									<br>
								</ul>
							
								<ul class="stats">
									<li><a href="#">景點</a></li>
									 
									
								</ul>
							</footer>
						</article>
						<article class="post">
							<header>
								<div class="title">
									<h2>留言區</h2>
									<h3>說說你的想法</h3>
								</div>
							
							</header>
							<form method="post" >
								{{ wtf.quick_form(form) }}
							</form>
							
							
						</article>

						<article class="post">
							<header>
								<div class="title">
									<center>
										<h2>留言版</h2>
									</center>
								</div>
							
							</header>
						{% for item in messages%}
						<p>
							{{  item.name }}<br>
							{{  item.body }}<br>
							{{  item.timestamp }}<br></p>
							<hr>
						{% endfor %}
						{% with messages = get_flashed_messages() %}
						{% if messages %}
						<ul class="flash">
							{% for message in messages %}
								<li>{{ message }}</li>
								
							{% endfor %}
						</ul>
						{% endif %}
						{% endwith %}
						</article>
					</div>

				<!-- Sidebar -->
					<section id="sidebar">

						<!-- Intro -->
							<section id="intro">
								
								<header>
									<h2><a href="{{ url_for('index') }}" >淡水旅行手札</a></h2>
								
								</header>
							</section>

						<!-- Mini Posts -->
							<section>
								<div class="mini-posts">
									<h2>附近景點</h2>
									<!-- Mini Post -->
										<article class="mini-post">
											<header>
												<h3><a href="{{ url_for('spot3_10') }}">閑恬Mydeli手作美味坊</a></h3>
												<p>距離335公尺</p>
												
											</header>
											<a href="{{ url_for('spot3_10') }}" class="image"><img src="static/images/閒恬01.jpg" alt="" /></a>
										</article>

										
									
								</div>
							</section>

						
						<!-- Footer -->
							<section id="footer">
								<ul class="icons">
									<li><a href="https://www.facebook.com/tamsuiproject" target="_blank" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="https://www.instagram.com/tamsuiproject/"  target="_blank" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
									<a href="#top" class=" button large " id="BackTop">最上面</a>
								</ul>
								
								<p >專題於2022年製作</p>
							</section>

					</section>

			</div>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>
			<script>
				var imgArray = [
				'https://drive.google.com/uc?export=view&id=1_2gqPvTTxpXrA1USmHnvxbNezTK10ko1',
				'https://drive.google.com/uc?export=view&id=14qcPLzg4Nuzf3JZq1YY1PGcjdPCNrxd9',
				
			],
				curIndex = 0;
				imgDuration = 3000;
			
			function slideShow() {
				document.getElementById('slider').className += "fadeOut";
				setTimeout(function() {
					document.getElementById('slider').src = imgArray[curIndex];
					document.getElementById('slider').className = "";
				},1000);
				curIndex++;
				if (curIndex == imgArray.length) { curIndex = 0; }
				setTimeout(slideShow, imgDuration);
			}
			slideShow();
		</script>
		 <script>
            $(function(){
                $('#BackTop').click(function(){ 
                    $('html,body').animate({scrollTop:0}, 333);
                });
                $(window).scroll(function() {
                    if ( $(this).scrollTop() > 300 ){
                        $('#BackTop').fadeIn(222);
                    } else {
                        $('#BackTop').stop().fadeOut(222);
                    }
                }).scroll();
            });
        </script>
		
<script>
	var slideIndex = 1;
	showDivs(slideIndex);
	
	function plusDivs(n) {
	  showDivs(slideIndex += n);
	}
	
	function currentDiv(n) {
	  showDivs(slideIndex = n);
	}
	
	function showDivs(n) {
	  var i;
	  var x = document.getElementsByClassName("mySlides");
	  var dots = document.getElementsByClassName("demo");
	  if (n > x.length) {slideIndex = 1}    
	  if (n < 1) {slideIndex = x.length} ;
	  for (i = 0; i < x.length; i++) {
		 x[i].style.display = "none";  
	  }
	  for (i = 0; i < dots.length; i++) {
		 dots[i].className = dots[i].className.replace(" w3-red", "");
	  }
	  x[slideIndex-1].style.display = "block";  
	  dots[slideIndex-1].className += " w3-red";
		}
	</script>
	</body>
</html>