{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE HTML>


<html>
	<head>
		<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FFCGET6HE8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-FFCGET6HE8');
</script>
		<title>淡水旅行手札-紅色穀倉</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/main.css" />
		<link rel="stylesheet" href="/lib/w3.css">
		<style>
			html {
					scroll-behavior: smooth;
			}
		</style>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">

						<!-- Post -->
						<article class="post">
							<header>
								<div class="title">
									<h2>紅色穀倉</h2>
									<h3>美式景觀餐廳</h3>
								</div>
							
							</header>
							<span class="image main" style="padding:5px 5px; width: calc(100%);">
								<div class="w3-content" style="max-width:800px">
									<img class="mySlides" src="static/images/紅色穀倉1.jpg" style="width:100%">
									<img class="mySlides" src="static/images/紅色穀倉2.jpg" style="width:100%">
 
								</div>
								<div class="w3-center" style="margin-top: 20px;">
									<center>
									<button class="w3-btn demo" onclick="currentDiv(1)">1</button> 
									<button class="w3-btn demo" onclick="currentDiv(2)">2</button> 
									 
									</center>
								  </div>
							</span>							<span >
								<p>紅色穀倉是位在淡水老街的餐廳，可以在用餐的同時賞淡水河景，景色優美，視野遼闊，也可以看到渡輪在碼頭中悠游往來。紅色穀倉用餐不限時間，適合就坐放鬆，假日晚上有時還有駐唱，便可以聆聽美妙的音樂及歌聲。紅色穀倉位在老街河邊小吃攤的樓上，很容易因為處在二樓而被忽略過去，店內是五顏六色的繽紛風格，紅色鐵皮牆配上五彩霓虹燈，十分具有美式情調，在晚餐時刻來訪用餐還能欣賞淡水河的晚霞風景。紅色穀倉正面對著觀音山，整排戶外座位可以賞景，擁有極佳的視野。紅色穀倉餐點選擇多，但多為美式料理為主，平日低消100元，假日低消200元，用餐時間不限，可以盡情享受美食與風景。

								</p>
							</span>
							<div class="iframe-rwd">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d115536.15572736526!2d121.3824141789258!3d25.18619123844055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a55bd2be9065%3A0xd8f318910f84364f!2z57SF6Imy56mA5YCJ576O5byP6aSQ5buzLea3oeawtOW6lw!5e0!3m2!1szh-TW!2stw!4v1658132716904!5m2!1szh-TW!2stw" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
							</div><footer>

								
								<ul class="actions">
									<br>
								</ul>
							
								<ul class="stats">
									<li><a href="#">景點</a></li>
									
									
								</ul>
							</footer>
						</article>
						<article class="post">
							<header>
								<div class="title">
									<h2>留言區</h2>
									<h3>說說你的想法</h3>
								</div>
							
							</header>
							<form method="post" >
								{{ wtf.quick_form(form) }}
							</form>
							
							
						</article>

						<article class="post">
							<header>
								<div class="title">
									<center>
										<h2>留言版</h2>
									</center>
								</div>
							
							</header>
						{% for item in messages%}
						<p>
							{{  item.name }}<br>
							{{  item.body }}<br>
							{{  item.timestamp }}<br></p>
							<hr>
						{% endfor %}
						{% with messages = get_flashed_messages() %}
						{% if messages %}
						<ul class="flash">
							{% for message in messages %}
								<li>{{ message }}</li>
								
							{% endfor %}
						</ul>
						{% endif %}
						{% endwith %}
						</article>
					</div>

				<!-- Sidebar -->
					<section id="sidebar">

						<!-- Intro -->
							<section id="intro">
								
								<header>
									<h2><a href="{{ url_for('index') }}" >淡水旅行手札</a></h2>
								
								</header>
							</section>

						<!-- Mini Posts -->
						<section>
							<div class="mini-posts">
								<h2>附近景點</h2>
								<!-- Mini Post -->
									<article class="mini-post">
										<header>
											<h3><a href="{{ url_for('spot5_10') }}">麻吉奶奶鮮奶麻糬</a></h3>
											<p>距離69公尺</p>
											
										</header>
										<a href="{{ url_for('spot5_10') }}" class="image"><img src="static/images/麻吉奶奶鮮奶麻糬.jpg" alt="" /></a>
									</article>

									<article class="mini-post">
										<header>
											<h3><a href="{{ url_for('spot2_10') }}">淡水福佑宮&淡水彩繪階梯3D意象</a></h3>
											<p>距離79公尺</p>
											
										</header>
										<a href="{{ url_for('spot2_10') }}" class="image"><img src="static/images/淡水福佑宮_淡水彩繪階梯3D意象1.jpg" alt="" /></a>
									</article>

									<article class="mini-post">
										<header>
											<h3><a href="{{ url_for('spot3_17') }}">P Cafe</a></h3>
											<p>距離96公尺</p>
											
										</header>
										<a href="{{ url_for('spot3_17') }}" class="image"><img src="static/images/P Cafe1.jpg" alt="" /></a>
									</article>

									<article class="mini-post">
										<header>
											<h3><a href="{{ url_for('spot5_8') }}">源味本鋪古早味現烤蛋糕</a></h3>
											<p>距離104公尺</p>
											
										</header>
										<a href="{{ url_for('spot5_8') }}" class="image"><img src="static/images/源味本舖古早味現烤蛋糕.jpg" alt="" /></a>
									</article>
									
									<article class="mini-post">
										<header>
											<h3><a href="{{ url_for('spot2_3') }}">日本警官宿舍 </a></h3>
											<p>距離119公尺</p>
											
										</header>
										<a href="{{ url_for('spot2_3') }}" class="image"><img src="static/images/日本警官宿舍01.jpg" alt="" /></a>
									</article>
								
							</div>
						</section>

						
						<!-- Footer -->
							<section id="footer">
								<ul class="icons">
									<li><a href="https://www.facebook.com/tamsuiproject" target="_blank" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="https://www.instagram.com/tamsuiproject/"  target="_blank" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
									<a href="#top" class=" button large " id="BackTop">最上面</a>
								</ul>
								
								<p >專題於2022年製作</p>
							</section>

					</section>

			</div>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>
			<script>
				var imgArray = [
				'https://drive.google.com/uc?export=view&id=1cVS1xWmx1RFW3smo4ese7QjwtpprgKHy',
				'https://drive.google.com/uc?export=view&id=1zj6AHmq-IA3wUI1nuVoIlH5N8gQZhy3I',

			],
				curIndex = 0;
				imgDuration = 3000;
			
			function slideShow() {
				document.getElementById('slider').className += "fadeOut";
				setTimeout(function() {
					document.getElementById('slider').src = imgArray[curIndex];
					document.getElementById('slider').className = "";
				},1000);
				curIndex++;
				if (curIndex == imgArray.length) { curIndex = 0; }
				setTimeout(slideShow, imgDuration);
			}
			slideShow();
		</script>
		 <script>
            $(function(){
                $('#BackTop').click(function(){ 
                    $('html,body').animate({scrollTop:0}, 333);
                });
                $(window).scroll(function() {
                    if ( $(this).scrollTop() > 300 ){
                        $('#BackTop').fadeIn(222);
                    } else {
                        $('#BackTop').stop().fadeOut(222);
                    }
                }).scroll();
            });
        </script>
		

<script>
	var slideIndex = 1;
	showDivs(slideIndex);
	
	function plusDivs(n) {
	  showDivs(slideIndex += n);
	}
	
	function currentDiv(n) {
	  showDivs(slideIndex = n);
	}
	
	function showDivs(n) {
	  var i;
	  var x = document.getElementsByClassName("mySlides");
	  var dots = document.getElementsByClassName("demo");
	  if (n > x.length) {slideIndex = 1}    
	  if (n < 1) {slideIndex = x.length} ;
	  for (i = 0; i < x.length; i++) {
		 x[i].style.display = "none";  
	  }
	  for (i = 0; i < dots.length; i++) {
		 dots[i].className = dots[i].className.replace(" w3-red", "");
	  }
	  x[slideIndex-1].style.display = "block";  
	  dots[slideIndex-1].className += " w3-red";
		}
	</script>
	</body>
</html>