{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE HTML>


<html>
	<head>
		<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FFCGET6HE8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-FFCGET6HE8');
</script>
		<title>淡水旅行手札-英國奶奶Britshake淡水</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/main.css" />
		<link rel="stylesheet" href="/lib/w3.css">
		<style>
			html {
					scroll-behavior: smooth;
			}
		</style>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">

						<!-- Post -->
						<article class="post">
							<header>
								<div class="title">
									<h2>英國奶奶Britshake淡水</h2>
									<h3>道地的英式料理餐廳</h3>
								</div>
							
							</header>

							<span class="image main" style="padding:5px 5px; width: calc(100%);">
								<div class="w3-content" style="max-width:800px">
									<img class="mySlides" src="static/images/英國奶奶Britshake淡水1.jpg" style="width:100%">
									<img class="mySlides" src="static/images/英國奶奶Britshake淡水2.jpg" style="width:100%">
								 
								</div>
								<div class="w3-center" style="margin-top: 20px;">
									<center>
									<button class="w3-btn demo" onclick="currentDiv(1)">1</button> 
									<button class="w3-btn demo" onclick="currentDiv(2)">2</button> 
								 
									</center>
								  </div>
							</span>									<span >
								<p>
									這是一家英式餐廳，由英國的主廚和她台灣的老公一同經營。原先是賣馬鈴薯和奶昔的餐車，後來正是開啟這間店。
									他們的英式料理和手做甜點很受當地與外地人的歡迎，室內的裝潢採用英式風格，空間寬廣舒適。也有親子空間，空間不小。
									這裡拍照的話，英式風格的建築讓人感覺身在英國某處；道地的英式美食和下午茶甜點，也能撫慰人的胃。大家可以來享用。
									</p>
									<p>營業時間：
										<br>每天的12:00開始營業
										<br>平日歇業21:30
										<br>周末22:00
									</p>
							</span>
							<div class="iframe-rwd">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3610.935706465369!2d121.43605371484475!3d25.171648683908096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a557fe2ad471%3A0x6170f759e89e419!2z6Iux5ZyL5aW25aW2!5e0!3m2!1szh-TW!2stw!4v1658045002526!5m2!1szh-TW!2stw" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
							</div><footer>

								
								<ul class="actions">
									<br>
								</ul>
							
								<ul class="stats">
									<li><a href="#">景點</a></li>
									
									
								</ul>
							</footer>
						</article>
						<article class="post">
							<header>
								<div class="title">
									<h2>留言區</h2>
									<h3>說說你的想法</h3>
								</div>
							
							</header>
							<form method="post" >
								{{ wtf.quick_form(form) }}
							</form>
							
							
						</article>

						<article class="post">
							<header>
								<div class="title">
									<center>
										<h2>留言版</h2>
									</center>
								</div>
							
							</header>
						{% for item in messages%}
						<p>
							{{  item.name }}<br>
							{{  item.body }}<br>
							{{  item.timestamp }}<br></p>
							<hr>
						{% endfor %}
						{% with messages = get_flashed_messages() %}
						{% if messages %}
						<ul class="flash">
							{% for message in messages %}
								<li>{{ message }}</li>
								
							{% endfor %}
						</ul>
						{% endif %}
						{% endwith %}
						</article>
					</div>

				<!-- Sidebar -->
					<section id="sidebar">

						<!-- Intro -->
							<section id="intro">
								
								<header>
									<h2><a href="{{ url_for('index') }}" >淡水旅行手札</a></h2>
								
								</header>
							</section>

						<!-- Mini Posts -->
						<section>
							<div class="mini-posts">
								<h2>附近景點</h2>
								<!-- Mini Post -->
									<article class="mini-post">
										<header>
											<h3><a href="{{ url_for('spot4_8') }}">好食寨</a></h3>
											<p>距離17公尺</p>
											
										</header>
										<a href="{{ url_for('spot4_8') }}" class="image"><img src="static/images/好食寨.jpg" alt="" /></a>
									</article>

									<article class="mini-post">
										<header>
											<h3><a href="{{ url_for('spot2_11') }}">滬尾偕醫館</a></h3>
											<p>距離42公尺</p>
											
										</header>
										<a href="{{ url_for('spot2_11') }}" class="image"><img src="static/images/滬尾偕醫館.jpg" alt="" /></a>
									</article>

									<article class="mini-post">
										<header>
											<h3><a href="{{ url_for('spot2_12') }}">淡水禮拜堂</a></h3>
											<p>距離55公尺</p>
											
										</header>
										<a href="{{ url_for('spot2_12') }}" class="image"><img src="static/images/淡水禮拜堂3.jpg" alt="" /></a>
									</article>

									<article class="mini-post">
										<header>
											<h3><a href="{{ url_for('spot5_4') }}">倆樂 LiAng Le</a></h3>
											<p>距離62公尺</p>
											
										</header>
										<a href="{{ url_for('spot5_4') }}" class="image"><img src="static/images/倆樂01.jpg" alt="" /></a>
									</article>
									
									<article class="mini-post">
										<header>
											<h3><a href="{{ url_for('spot1_1') }}">木下靜涯舊居</a></h3>
											<p>距離119公尺</p>
											
										</header>
										<a href="{{ url_for('spot1_1') }}" class="image"><img src="static/images/木下靜涯舊居1.jpg" alt="" /></a>
									</article>
								
							</div>
						</section>


						
						<!-- Footer -->
							<section id="footer">
								<ul class="icons">
									<li><a href="https://www.facebook.com/tamsuiproject" target="_blank" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="https://www.instagram.com/tamsuiproject/"  target="_blank" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
									<a href="#top" class=" button large " id="BackTop">最上面</a>
								</ul>
								
								<p >專題於2022年製作</p>
							</section>

					</section>

			</div>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>
			<script>
				var imgArray = [
				'https://drive.google.com/uc?export=view&id=1PAysMJdXYlp7ECr9mTpDayCAAa1L1GIF',
				'https://drive.google.com/uc?export=view&id=1U7GJlTgMGPRpKBkvwVIbI29ymYSET97-',

			],
				curIndex = 0;
				imgDuration = 3000;
			
			function slideShow() {
				document.getElementById('slider').className += "fadeOut";
				setTimeout(function() {
					document.getElementById('slider').src = imgArray[curIndex];
					document.getElementById('slider').className = "";
				},1000);
				curIndex++;
				if (curIndex == imgArray.length) { curIndex = 0; }
				setTimeout(slideShow, imgDuration);
			}
			slideShow();
		</script>
		 <script>
            $(function(){
                $('#BackTop').click(function(){ 
                    $('html,body').animate({scrollTop:0}, 333);
                });
                $(window).scroll(function() {
                    if ( $(this).scrollTop() > 300 ){
                        $('#BackTop').fadeIn(222);
                    } else {
                        $('#BackTop').stop().fadeOut(222);
                    }
                }).scroll();
            });
        </script>
		
<script>
	var slideIndex = 1;
	showDivs(slideIndex);
	
	function plusDivs(n) {
	  showDivs(slideIndex += n);
	}
	
	function currentDiv(n) {
	  showDivs(slideIndex = n);
	}
	
	function showDivs(n) {
	  var i;
	  var x = document.getElementsByClassName("mySlides");
	  var dots = document.getElementsByClassName("demo");
	  if (n > x.length) {slideIndex = 1}    
	  if (n < 1) {slideIndex = x.length} ;
	  for (i = 0; i < x.length; i++) {
		 x[i].style.display = "none";  
	  }
	  for (i = 0; i < dots.length; i++) {
		 dots[i].className = dots[i].className.replace(" w3-red", "");
	  }
	  x[slideIndex-1].style.display = "block";  
	  dots[slideIndex-1].className += " w3-red";
		}
	</script>
	</body>
</html>