{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE HTML>


<html>
	<head>
		<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FFCGET6HE8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-FFCGET6HE8');
</script>
		<title>淡水旅行手札-雲門舞集-雲門劇場 </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/main.css" />
		<link rel="stylesheet" href="/lib/w3.css">
		<style>
			html {
					scroll-behavior: smooth;
			}
		</style>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">

						<!-- Post -->
						<article class="post">
							<header>
								<div class="title">
									<h2> 雲門舞集-雲門劇場  </h2>
									<h3>充滿意境的劇場</h3>
								</div>
							
							</header>
							<span class="image main" style="padding:5px 5px; width: calc(100%);">
								<div class="w3-content" style="max-width:800px">
									<img class="mySlides" src="static/images/雲門舞集-雲門劇場5.jpg" style="width:100%">
									<img class="mySlides" src="static/images/雲門舞集-雲門劇場4.jpg" style="width:100%">
									<img class="mySlides" src="static/images/雲門舞集-雲門劇場2.jpg" style="width:100%">
									<img class="mySlides" src="static/images/雲門舞集-雲門劇場1.jpg" style="width:100%">
									<img class="mySlides" src="static/images/雲門舞集-雲門劇場6.jpg" style="width:100%">
								  </div>
				 
								  <div class="w3-center" style="margin-top: 20px;">
									<center>
									<button class="w3-btn demo" onclick="currentDiv(1)">1</button> 
									<button class="w3-btn demo" onclick="currentDiv(2)">2</button> 
									<button class="w3-btn demo" onclick="currentDiv(3)">3</button> 
									<button class="w3-btn demo" onclick="currentDiv(4)">4</button> 
									<button class="w3-btn demo" onclick="currentDiv(5)">5</button> 
									</center>
								  </div>
							</span>							<span >
								<p>雲門舞集是台灣第一個職業舞團，也是華語社會第一個當代舞團，由林懷民擔任舞團藝術總監，雲門長年海外巡演，以獨特的動作語言，精湛的舞技，成為國際藝術劇場重要的常客。雲門劇場與巨樹參天的滬尾砲台，淡水高爾夫球場為鄰，雲門劇場遠眺觀音山與淡水河出海口，淡綠玻璃的建築英照周遭高樹融入恬靜的綠色地景。雲門劇場建築群包括400多席的劇場，兩個小劇場，可容千人的戶外綠地，以及辦公室等等這是雲門基金會與舞團創作工作的場域，由此出發從台灣邁向世界，透過藝文活動，豐富社區文化活動，成為全民共享的綠色園區。
								</p>
							</span>
							<div class="iframe-rwd">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3610.697912743554!2d121.42672046484498!3d25.179676133904355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a5488e5a8eb1%3A0x938f2e1bfc129671!2z6Zuy6ZaAIENsb3VkIEdhdGU!5e0!3m2!1szh-TW!2stw!4v1657885334090!5m2!1szh-TW!2stw" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
							</div><footer>

								
								<ul class="actions">
									<br>
								</ul>
							
								<ul class="stats">
									<li><a href="#">景點</a></li>
								 
									
								</ul>
							</footer>
						</article>
						<article class="post">
							<header>
								<div class="title">
									<h2>留言區</h2>
									<h3>說說你的想法</h3>
								</div>
							
							</header>
							<form method="post" >
								{{ wtf.quick_form(form) }}
							</form>
							
							
						</article>

						<article class="post">
							<header>
								<div class="title">
									<center>
										<h2>留言版</h2>
									</center>
								</div>
							
							</header>
						{% for item in messages%}
						<p>
							{{  item.name }}<br>
							{{  item.body }}<br>
							{{  item.timestamp }}<br></p>
							<hr>
						{% endfor %}
						{% with messages = get_flashed_messages() %}
						{% if messages %}
						<ul class="flash">
							{% for message in messages %}
								<li>{{ message }}</li>
								
							{% endfor %}
						</ul>
						{% endif %}
						{% endwith %}
						</article>
					</div>

				<!-- Sidebar -->
					<section id="sidebar">

						<!-- Intro -->
							<section id="intro">
								
								<header>
									<h2><a href="{{ url_for('index') }}" >淡水旅行手札</a></h2>
								
								</header>
							</section>

						<!-- Mini Posts -->
						<section>
							<div class="mini-posts">
								<h2>附近景點</h2>
								<!-- Mini Post -->
									<article class="mini-post">
										<header>
											<h3><a href="{{ url_for('spot3_8') }}">淡水雲門星巴克 </a></h3>
											<p>距離111公尺</p>
											
										</header>
										<a href="{{ url_for('spot3_8') }}" class="image"><img src="static/images/淡水雲門星巴克.jpg" alt="" /></a>
									</article>

									<article class="mini-post">
										<header>
											<h3><a href="{{ url_for('spot2_6') }}">滬尾砲台 </a></h3>
											<p>距離138公尺</p>
											
										</header>
										<a href="{{ url_for('spot2_6') }}" class="image"><img src="static/images/滬尾砲台公園4.jpg" alt="" /></a>
									</article>

									<article class="mini-post">
										<header>
											<h3><a href="{{ url_for('spot3_14') }}">媽媽嘴咖啡(淡水樂活店)  </a></h3>
											<p>距離263公尺</p>
											
										</header>
										<a href="{{ url_for('spot3_14') }}" class="image"><img src="static/images/媽媽嘴咖啡(淡水樂活店) 2.jpg" alt="" /></a>
									</article>

									<article class="mini-post">
										<header>
											<h3><a href="{{ url_for('spot1_6') }}">淡水和平公園 </a></h3>
											<p>距離268公尺</p>
											
										</header>
										<a href="{{ url_for('spot1_6') }}" class="image"><img src="static/images/淡水和平公園 .jpg" alt="" /></a>
									</article>
									
									<article class="mini-post">
										<header>
											<h3><a href="{{ url_for('spot2_8') }}">一滴水紀念館 </a></h3>
											<p>距離311公尺</p>
											
										</header>
										<a href="{{ url_for('spot2_8') }}" class="image"><img src="static/images/一滴水紀念館1.jpg" alt="" /></a>
									</article>
								
							</div>
						</section>
						
						<!-- Footer -->
							<section id="footer">
								<ul class="icons">
									<li><a href="https://www.facebook.com/tamsuiproject" target="_blank" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="https://www.instagram.com/tamsuiproject/"  target="_blank" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
									<a href="#top" class=" button large " id="BackTop">最上面</a>
								</ul>
								
								<p >專題於2022年製作</p>
							</section>

					</section>

			</div>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>
			<script>
				var imgArray = [
				'https://drive.google.com/uc?export=view&id=1_gIQucZbh_qRzA55xMGrxNy3G_yimDXX',
				'https://drive.google.com/uc?export=view&id=1eDFOoA8rwea3jX-3tL7OcFBU_X0sId0j',
				
			],
				curIndex = 0;
				imgDuration = 3000;
			
			function slideShow() {
				document.getElementById('slider').className += "fadeOut";
				setTimeout(function() {
					document.getElementById('slider').src = imgArray[curIndex];
					document.getElementById('slider').className = "";
				},1000);
				curIndex++;
				if (curIndex == imgArray.length) { curIndex = 0; }
				setTimeout(slideShow, imgDuration);
			}
			slideShow();
		</script>
		 <script>
            $(function(){
                $('#BackTop').click(function(){ 
                    $('html,body').animate({scrollTop:0}, 333);
                });
                $(window).scroll(function() {
                    if ( $(this).scrollTop() > 300 ){
                        $('#BackTop').fadeIn(222);
                    } else {
                        $('#BackTop').stop().fadeOut(222);
                    }
                }).scroll();
            });
        </script>
		
<script>
	var slideIndex = 1;
	showDivs(slideIndex);
	
	function plusDivs(n) {
	  showDivs(slideIndex += n);
	}
	
	function currentDiv(n) {
	  showDivs(slideIndex = n);
	}
	
	function showDivs(n) {
	  var i;
	  var x = document.getElementsByClassName("mySlides");
	  var dots = document.getElementsByClassName("demo");
	  if (n > x.length) {slideIndex = 1}    
	  if (n < 1) {slideIndex = x.length} ;
	  for (i = 0; i < x.length; i++) {
		 x[i].style.display = "none";  
	  }
	  for (i = 0; i < dots.length; i++) {
		 dots[i].className = dots[i].className.replace(" w3-red", "");
	  }
	  x[slideIndex-1].style.display = "block";  
	  dots[slideIndex-1].className += " w3-red";
		}
	</script>
	</body>
</html>